<html>
<head>

  <%= stylesheet_link_tag "email.css", media: "all" %>
</head>


<body>
<h1>Reminder</h1>
<p>Hello <%= @user.email %></p>
<p>You have a pending booking on our Website for the car <%= @reservation.car %> at <%= @reservation.location %></p>
<p>Please click here <%= pay_book_reservation_url(id_book: @reservation.id) %> to resume your booking.</p>
</body>
</html>